.card-container {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.text-gray {
  color: black
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 160px;
}

.car-container {
  margin: 50px;
}

.car-paper {
  padding: 50px;
}